.container {
    width: 360px;
    margin: auto;
    padding: 61px;
    font-family: arial;
}
h1.titleBar {
    font-family: arial black;
    color: #333;
    font-size: 30px;
}

table  th {
    padding: 11px 37px;
}

table {
    border-collapse: collapse;
}

table td {
    padding: 15px;
}

button.btn-edit {
    background: red;
    border: none;
    size: 25px;
    color: white;
}

button.btn-delete {
    background: #6400ff;
    border: none;
    size: 25px;
    color: white;
}

table td input {
    padding: 15px;
    border: none;
    text-align: left;
}
table td button {
    cursor:pointer;
}